<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MesonRafaelAlberti"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="BistroDeLaMer.ConsultarCartaBDLM"
            android:exported="false" />
        <activity
            android:name="TheGardenCafe.ConsultarCartaTGC"
            android:exported="false" />
        <activity
            android:name=".ConsultarCartaMRA"
            android:exported="false" />
        <activity
            android:name="TheGardenCafe.ConsultarHorarioTGC"
            android:exported="false" />
        <activity
            android:name=".ConsultarHorarioMRA"
            android:exported="false" />
        <activity
            android:name="BistroDeLaMer.ConsultarHorarioBDLM"
            android:exported="false" />
        <activity
            android:name="TheGardenCafe.InformacionDetallaTGCClon"
            android:exported="false" />
        <activity
            android:name=".InformacionDetallaMRAClon"
            android:exported="false" />
        <activity
            android:name="BistroDeLaMer.InformacionDetallaBDLMClon"
            android:exported="false" />
        <activity
            android:name="TheGardenCafe.RegistrarTGC"
            android:exported="false" />
        <activity
            android:name=".Registrar"
            android:exported="false" />
        <activity
            android:name="BistroDeLaMer.RegistrarBDLM"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name="TheGardenCafe.LoginTGC"
            android:exported="false" />
        <activity
            android:name="BistroDeLaMer.LoginBDLM"
            android:exported="false" />
        <activity
            android:name=".InformacionDetallaMRA"
            android:exported="false" />
        <activity
            android:name="TheGardenCafe.InformacionDetallaTGC"
            android:exported="false" />
        <activity
            android:name="TheGardenCafe.PrimeraPantallaTGC"
            android:exported="false" />
        <activity
            android:name="BistroDeLaMer.InformacionDetallaBDLM"
            android:exported="false" />
        <activity
            android:name="BistroDeLaMer.PrimeraPantallaBDLM"
            android:exported="false" />
        <activity
            android:name=".PrimeraPantalla"
            android:exported="false" />
        <activity
            android:name="Lanzar.CerrarAplicacion"
            android:exported="false" />
        <activity
            android:name="Lanzar.AyudaRestaurantes"
            android:exported="false" />
        <activity
            android:name="Lanzar.ConsultarRestaurantes"
            android:exported="false" />
        <activity
            android:name="Lanzar.PantallaPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>